<h1>tunity</h1>
<p>simple social radio</p>
<%= form_tag({:controller => :tracks, :action => :search}, :method => :get) do %>
    <%= text_field_tag(:query) %>
<% end %>

<p>
  <%= link_to 'listen', :controller => :tracks, :action => :listen %>
</p>

<h2>now playing:</h2>
<%= render :partial => 'track_list', :object => @track_list %>
