<% logger.info track_list %>
<ol>
  <% track_list.each do |item| %>
    <li>
      <span class="<%= item[:status] || 'requested' %>">
          <span class="title"><%= item[:video].title %></span>
          <span class="requester">requested by <%= item[:user].email %></span>
      </span>
    </li>
  <% end %>
</ol>